header h2,
header p {
  margin-block: 0;
}

header p {
  font-size: 1rem;
  color: var(--secondary-dark);
  opacity: 75%;
}

section {
  width: 100%;
}

form output {
  grid-column: 1 / -1;
  font-size: 1rem;
  color: var(--secondary-dark);
  opacity: 75%;
}

form output p.success {
  font-size: 1rem;
  opacity: 75%;
  color: var(--secondary);
}

form output.error p.error {
  font-size: 1rem;
  opacity: 75%;
  color: #de4037;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(100%, 600px);
  margin-inline: auto;
  box-shadow: 0.8rem 0.8rem 0 var(--secondary-dark);
  box-sizing: border-box;
  grid-gap: 2px;
}

form > div {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 2px var(--secondary-dark);
}

form > div:nth-child(2) > h3 {
  grid-column: 1 / -1;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  margin: 0;
  padding: 0.5rem;
}

form > div:nth-child(2),
form > div:nth-last-child(2),
form > div:nth-last-child(3) {
  grid-column: 1 / -1;
}

form label {
  padding-inline: 0.5rem;
  font-size: 1rem;
  color: var(--secondary-dark);
  opacity: 75%;
  user-select: none;
}

form input,
form textarea {
  padding: 0.5rem;
  border: none;
  background-color: var(--primary-light);
  font-size: 1rem;
  font-family: inherit;
  color: var(--secondary-dark);
}

form input:focus,
form textarea:focus {
  outline: none;
}

form .buttons {
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
}

form .buttons > * {
  min-width: 25%;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-underline-offset: 0rem;
}

form .buttons > *:first-child {
  color: var(--secondary-dark);
  background-color: var(--primary-light);
  text-align: center;
  text-decoration: none;
}

form .buttons > *:last-child {
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  flex-grow: 1;
}

form .buttons > *:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.explanation {
  text-align: center;
  font-size: 1rem;
  opacity: 75%;
}
