---
let loggedIn = Astro.cookies.has('loggedIn')
---

<footer>
  <section class="container">
      <a href="/"><i class="bi bi-arrow-return-left"></i> Return</a>
    {
      loggedIn ? (
          <button type="button">Log out</button>
      ) : (
          <a href="/login">Log in</a>
      )
    }
    <a href={`/manage/add`}>Add a device <i class="bi bi-database-add"></i></a>
  </section>
</footer>

<script>
  document.querySelector('footer button')?.addEventListener('click', () => {
    // remove the loggedin cookie
    document.cookie =
      'loggedIn=false; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
    window.location.reload()
  })
</script>

<style>
  footer {
    margin-top: 8rem;
    font-size: 0.875rem;
    background-color: var(--secondary-dark);
  }

  footer > section {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  footer a,
  footer button {
    color: var(--primary-light);
    background-color: var(--secondary-dark);
    padding: 1rem 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    aspect-ratio: auto;
  }
</style>
