<section>
  <a href="/login" id="login">
    Login
  </a>
</section>

<style>
  :root {
    --screen-padding: 1rem;
  }

  section {
    background: var(--primary-light);
    width: 100%;
    border-bottom: 1px solid var(--secondary-light);
    padding-inline: var(--inline-padding);
    padding-block: calc(var(--screen-padding) / 1.5);
  }

  section p {
    margin: 0;
  }

  section a {
    background: transparent;
    color: var(--secondary-dark);
    text-decoration: none;
    margin-left: auto;
    outline: 1px solid var(--primary-darker);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
  }
</style>


