---
import Layout from '../layouts/Layout.astro'
import Devices from './_devices.astro'

const currentYear = new Date().getFullYear()
const currentMonth = new Date().getMonth() + 1
const currentDay = new Date().getDate()

let currentIp = 'unknown IP'
try {
  const response = await fetch('https://api.ipify.org?format=json')
  if (!response.ok) {
    console.error('Error fetching IP')
    return
  }
  const data = await response.json()
  currentIp = data.ip
} catch (error) {
  console.error(error)
}
---

<Layout title="Tllabra devices" showFooter>
  <header class="container">
    <h1>Tllabra <span>{currentDay}.{currentMonth}.{currentYear}</span></h1>
    <p>List of devices in the network</p>
    <p>Your IP: <span class="text-bold">{currentIp}</span></p>
  </header>
  <Devices />
</Layout>

<style>
  p > span {
    user-select: all;
  }
</style>
