---
import Layout from '../layouts/Layout.astro'
import Devices from './_devices.astro'
import IPs from './_ips'

const currentDate = new Date().toLocaleDateString('fi-FI')
---

<Layout title="Tllabra devices" showFooter>
  <header>
    <h1>Tllabra <span>{currentDate}</span></h1>
    <p>List of devices in the network</p>
    <IPs client:only />
  </header>
  <Devices />
</Layout>

<style is:inline>
  p > span {
    user-select: all;
  }
  p {
    margin: 0;
  }
  .fetch-error {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fetch-error > button {
    border: none;
    color: inherit;
    font-size: 1rem;
    cursor: pointer;
  }
</style>
