---
import Layout from '../layouts/Layout.astro'
import Devices from './_devices.astro'
---

<Layout title="TLLabra devices">
  <header class="container">
    <h1>Assignment 3 - Frontend</h1>
    <p>
      Here you can find the devices that are connected to the TLLabra network.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
      repellat dolorem culpa molestiae facere voluptatum sint id atque molestias
      quibusdam eum ex nemo ipsa eius temporibus, porro delectus perferendis,
      saepe sapiente quo nostrum. Fuga in error odio ad pariatur quaerat sed,
      quidem aperiam est doloremque laboriosam corporis magni provident libero.
    </p>
  </header>
  <Devices />
  <footer></footer>
</Layout>

<style>
header {
  text-align: center;
  margin-bottom: 4rem;
}
</style>
