---
import Layout from '../../../layouts/Layout.astro'
import ManagementConsole from './_console.tsx'
import getApiUrl from '../../../utils/apiurl.ts'
const API_URL = getApiUrl()
---

<Layout title="Management console">
  <section>
  <ManagementConsole client:only deviceId={parseInt(Astro.params.id || "1")} apiUrl={API_URL} />
  </section>
</Layout>
