---
import Layout from '../../../layouts/Layout.astro'
import ManagementConsole from './_console.tsx'
const isLoggedIn = Astro.cookies.has('loggedIn')
---

<Layout title="Management console">
  <section>
    {isLoggedIn ? (
      <ManagementConsole client:only deviceId={parseInt(Astro.params.id || "1")} />
      ) : (
      <p class="text-center">You are not logged in. Please <a href="/login">log in</a> to access the management console.</p>
      )
    }
  </section>
</Layout>
