---
import Layout from '../../../layouts/Layout.astro'
import AddDevice from './_console'
---

<Layout title="Add device">
  <header class="container">
    <h1 class="text-center">Add a new device</h1>
    <p class="text-center">Page content</p>
  </header>
  <AddDevice client:only error={""} />
</Layout>

<style is:inline>

  header {
    margin-block: 2rem 1rem;
  }

  header h2, header h1, header p {
    margin-block: 0;
  }

  header p {
    font-size: 1rem;
    color: var(--secondary-dark);
    opacity: 75%;
  }

  section {
    width: 100%;
  }

  main {
    width: min(100%, 600px);
    margin-inline: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  form > div {
    display: flex;
    flex-direction: column;
  }

  form output p.success {
    font-size: 1rem;
    opacity: 75%;
    color: var(--secondary);
  }

  form output p.error {
    font-size: 1rem;
    opacity: 75%;
    color: #de4037;
  }

  form label {
    font-size: 1rem;
    color: var(--secondary-dark);
    opacity: 75%;
  }

  form input, form textarea {
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    background-color: var(--primary-light);
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: inherit;
    color: var(--secondary-dark)
  }

  form input:focus, form textarea:focus {
    background-color: var(--primary);
  }

  form .buttons {
    display: flex;
    flex-direction: row;
    gap: .1rem;
  }

  form .buttons > * {
    width: min(100%, 12rem);
    padding: 0.5rem 1rem;
    margin-inline: auto;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
  }

  form .buttons button {
    background-color: var(--secondary);
    color: var(--primary-light);
    flex-grow: 1;
  }

  form .buttons a {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    background-color: var(--primary-light);
    text-align: center;
    text-decoration: none;
  }
</style>
